@layer normalize, component, variant, main, adaptive;
@font-face {
  font-family: 'HelveticaNeueBold';
  src: url(/font/HelveticaNeueBold.ttf);
}

@layer component {
  .button {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;

    color: var(--color-black);
    padding: var(--size-3);
    border-radius: var(--size-1a);
    border: 1px solid transparent;

    user-select: none;
  }

  .button_secondary {
    transition-property: opacity background-color;
    transition-duration: var(--tran_duration-04);
    padding: 12px 18px;
    border-radius: 4px;
  }

  .button_secondary:hover {
    opacity: var(--opacity-1);
    cursor: pointer;
    background-color: var(--color-primary);
  }

  .click {
    transition-property: opacity background-color;
    transition-duration: var(--tran_duration-04);
    padding: 12px 18px;
    border-radius: 4px;
    border: 1px solid transparent;
  }

  .click:hover {
    opacity: var(--opacity-1);
    cursor: pointer;
    background-color: var(--color-light);
    border: 1px solid var(--color-black);
  }

  .click:active {
    opacity: var(--opacity-2);
  }

  .page_section {
    display: flex;
    justify-content: center;
  }

  .icon {
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .double_line {
    line-height: var(--line-height);
  }
}

@layer variant {
  .iconSL {
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .sl_Btn {
    height: var(--size-3a);
    width: var(--size-5);
    background-image: url('/svg/sl_btn.svg');
    user-select: none;
  }

  .slBtn_link {
    justify-self: flex-end;
  }

  .SLclick {
    transition-property: opacity background-color;
    transition-duration: var(--tran_duration-04);
    padding: 12px 18px;
    border-radius: 4px;
    border: 1px solid transparent;
  }

  .SLclick:hover {
    opacity: var(--opacity-1);
    cursor: pointer;
    background-color: #88bfe8;
    border: 1px solid var(--color-black);
  }

  .SLclick:active {
    opacity: var(--opacity-2);
  }

  .button_primary {
    color: var(--color-white);
    background-color: var(--color-primary);
  }

  .button_secondary {
    color: var(--color-primary);
    border-color: var(--color-primary);
    border-width: 2px;
  }

  .button_secondary:hover {
    color: var(--color-white);
  }

  .feat_icon {
    height: 48px;
    width: 48px;
  }

  .icon_arrow {
    height: var(--size-3a);
    width: var(--size-5);
    background-image: url('/svg/arrow_right.svg');
  }

  .pag_section_light {
    background-color: var(--color-light);
  }
}

body {
  font-family: 'HelveticaNeueBold', sans-serif;

  background-color: var(--color-white);
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #611f69;
  --color-light: #f4ede4;
  --color-cold: #1264a3;

  --page-width-big: 1260px;
  --page-width-medium: 1000px;
  --page-width-small: 700px;

  --size-1a: 4px;
  --size-1: 8px;
  --size-2: 12px;
  --size-3a: 14px;
  --size-3: 16px;
  --size-3b: 18px;
  --size-4a: 20px;
  --size-4b: 22px;
  --size-5: 24px;
  --size-6: 28px;
  --size-7: 32px;
  --size-8: 36px;
  --size-9: 38px;
  --size-10: 40px;

  --weight-1: 700;

  --opacity-1: 0.7;
  --opacity-2: 0.3;

  --tran_duration-04: 0.4s;
  --tran_duration-07: 0.7s;

  --line-height: 1.5em;
}

@layer main {
  .page {
    display: grid;
  }

  .cardsSl_title {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: var(--size-7);
    font-weight: var(--weight-1);
    line-height: var(--size-9);
    letter-spacing: -0.3px;

    margin-bottom: var(--size-10);
  }

  .cardSl_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 80px;
  }

  .cardSl {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 280px;
    min-height: 445px;
    gap: var(--size-1);

    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.1);
  }

  .slHD {
    display: flex;
    flex-direction: column;
    gap: var(--size-1);
  }

  .cardSl_head {
    color: #454245;
    font-size: var(--size-3a);
    font-weight: var(--weight-1);
    line-height: var(--size-3b);
    letter-spacing: 0.1px;
    padding-left: var(--size-2);
  }

  .cardSl_description {
    font-size: var(--size-5);
    font-weight: var(--weight-1);
    line-height: 150%;
    padding-left: var(--size-2);
  }

  .cardSlBtn_block {
    display: flex;
    flex-direction: row;
    gap: 145px;
    width: 280px;

    /* position: absolute;
    top: 3200px; */
    padding-left: var(--size-2);
  }

  .cardSl_btn {
    color: var(--color-cold);
    font-size: var(--size-3a);
    font-weight: var(--weight-1);
    line-height: 15px;
    letter-spacing: 0.8px;
    text-transform: uppercase;

    cursor: default;
  }

  .imageSl {
    width: 280px;
    height: 200px;
  }

  .page_content2 {
    width: 100%;
    padding: var(--size-3);
    max-width: 1100px;
    min-width: 1090px;
  }

  .quote_section2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 50px;

    min-height: 450px;

    background-image: url(/img/deliveroo.png);
    background-repeat: no-repeat;
  }

  .card_quote {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: var(--size-5);
  }

  .info_quote {
    font-size: var(--size-6);
    font-weight: var(--weight-1);
    line-height: 150%;
    letter-spacing: -0.3px;
    width: 100%;
  }

  .info_logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-5);
  }

  .page_content {
    width: 100%;
    padding: var(--size-3);
  }

  .hero_section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 200px;

    min-height: 600px;

    margin-top: 50px;
  }

  .hero {
    display: flex;
    height: 100%;
    align-items: center;
    /* margin-top: 50px; */
  }

  .hero_content {
    display: grid;
    gap: var(--size-5);
    max-width: 425px;

    color: var(--color-black);

    position: relative;
  }

  .brands {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--size-8);
    row-gap: var(--size-4a);
    flex-wrap: wrap;
  }

  .hero_image {
    position: absolute;
    left: 552px;
    top: 0;
    /* top: calc(50% - (436px / 2)); */
  }

  .hero_label {
    font-size: var(--size-3a);
    text-transform: uppercase;
  }

  .hero_title {
    font-size: 50px;
  }

  .hero_info {
    font-size: var(--size-4a);
  }

  .hero_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--size-5);
  }

  .featuers_section {
    /* Щоб падінги з цього місця не перезаписували падінги з page_content тут ми вказуємо інакши, тобто padding-top, padding-bottom*/
    padding-top: 150px;
    padding-bottom: 150px;
    /*бокові падінги збережуться, а вже верхній і нижній перезапишуться */
    display: grid;
    gap: var(--size-5);

    background-image: url('/img/features.png');
    background-repeat: no-repeat;
    background-position: top right;
  }

  .featuers_section2 {
    padding-top: 0;
    padding-bottom: 150px;
    display: grid;
    gap: var(--size-5);

    background-image: url('/img/features2.png');
    background-repeat: no-repeat;
    background-position: top left;
    margin-bottom: 50px;
  }

  .feauters_title {
    font-size: var(--size-7);
  }

  .feauters_discription {
    font-size: var(--size-3b);
    max-width: 420px;
  }

  .feat_card {
    padding: var(--size-2);
    background-color: var(--color-white);
    display: grid;
    gap: var(--size-3);

    font-size: var(--size-3b);

    grid-template-rows: min-content min-content 1fr min-content;
  }

  .feat_link {
    justify-self: flex-end;
  }

  .features_grid_7 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    gap: var(--size-3);
  }

  .features_grid_7 > .feat_card:first-of-type {
    grid-row: 1 / 3;
  }

  .features_grid_4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    width: 80%;
    gap: var(--size-3);

    padding-top: 110px;
    padding-left: 80px;
  }

  .features_grid_4 [class*='cardM'] {
    grid-row: 1 / 3;
  }

  .groupEnd {
    display: grid;
    justify-items: flex-end;
    gap: var(--size-5);
  }
}

@layer adaptive {
  @media all and (1260px <= width) {
    .page_content {
      width: 100%;
      max-width: var(--page-width-big);
    }

    .cardsSl_title {
      display: flex;
      flex-direction: column;
      align-items: center;

      font-size: var(--size-7);
      font-weight: var(--weight-1);
      line-height: var(--size-8);
      letter-spacing: -0.5px;
      margin-bottom: var(--size-10);
    }
  }

  @media all and (1000px <= width < 1260px) {
    .page_content {
      width: 100%;
      max-width: var(--page-width-medium);
    }

    .hero_image {
      left: 500px;
      height: 300px;
    }

    .quote_section2 {
      align-items: flex-end;
      margin-top: 0;
      min-height: 400px;
      background-image: url(/img/deliveroo.png);
    }

    .info_quote {
      font-size: var(--size-6);
      font-weight: var(--weight-1);
      line-height: 150%;
      letter-spacing: -0.3px;
      width: 50%;
    }

    .card_quote {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 700px;
      gap: var(--size-5);
    }

    .cardSl {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 280px;
      min-height: 445px;
      gap: var(--size-1);

      box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.1);
    }

    .cardSlBtn_block {
      display: flex;
      flex-direction: row;
      gap: 145px;
      width: 280px;

      /* position: absolute;
      top: 3150px; */
      padding-left: var(--size-2);
    }
  }

  @media all and (width < 1000px) {
    .cardsSl_title {
      display: flex;
      flex-direction: column;
      align-items: center;

      font-size: var(--size-7);
      font-weight: var(--weight-1);
      line-height: var(--size-8);
      letter-spacing: -0.5px;
      margin-bottom: var(--size-10);
    }

    /* ..................................... */

    .cardSl_container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      margin-bottom: 80px;
      gap: 20px;
      flex-wrap: wrap;
    }

    .cardSl {
      width: 240px;
      min-height: 415px;
      gap: var(--size-1);
    }

    .imageSl {
      width: 240px;
      height: 170px;
    }

    .cardSlBtn_block {
      gap: 100px;
      width: 240px;

      /* position: absolute;
      top: 3385px; */
      padding-left: var(--size-2);
    }

    .page_content {
      width: 100%;
      padding: 50px 0 0;
      max-width: var(--page-width-small);
    }

    .quote_section2 {
      align-items: center;
      margin-top: 0;
      min-height: 400px;
      background-image: none;
    }

    .card_quote {
      width: 500px;
      gap: var(--size-5);
    }

    .info_logo {
      align-items: center;
      gap: var(--size-5);
    }

    .page_content {
      width: 100%;
      max-width: var(--page-width-small);
    }

    .hero_image {
      position: static;
      width: 100%;
      order: -1;
    }

    .hero_content {
      max-width: 100%;
    }

    .features_grid_7 {
      grid-template-columns: repeat(3, 1fr);
    }

    .features_grid_7 > .feat_card:first-of-type {
      grid-row: 1 / 3;
    }

    .featuers_section {
      background: none;
    }

    .featuers_section2 {
      background: none;
    }

    .features_grid_4 {
      grid-template-columns: repeat(2, 1fr);

      padding-top: 0;
      padding-left: 0;

      width: 100%;
    }

    .features_grid_4 > .feat_card:first-of-type {
      grid-row: 2 / 4;
    }

    .groupEnd {
      display: grid;
      justify-items: flex-start;
      gap: var(--size-5);
    }
  }

  @media all and (width < 600px) {
    .cardsSl_title {
      display: flex;
      align-self: center;
      padding: 0 var(--size-4a);
    }

    /* ..................................... */

    /* .newSl_row {
      flex-wrap: wrap;
      justify-content: center;
    } */

    .cardSl_container {
      display: flex;
      flex-direction: row;
      margin-bottom: 100px;
      width: 100%;
    }

    .cardSl {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 240px;
      min-height: 445px;
    }

    .cardSlBtn_block {
      display: flex;
      flex-direction: row;
      gap: 100px;
      width: 280px;

      /* position: absolute;
      top: 3880px; */
      padding-left: var(--size-2);
    }

    .page_content {
      width: 100%;
      padding: 25px 0 0;
    }

    .info_quote {
      font-size: var(--size-5);
      line-height: 140%;
      letter-spacing: -0.2px;
      width: 100%;
      text-align: center;
    }

    .card_quote {
      width: 360px;
    }

    .features_grid_7 {
      grid-template-columns: 2fr 2fr;
    }

    .features_grid_4 {
      grid-template-columns: 2fr 2fr;
    }
  }

  @media all and (width < 400px) {
    .quote_section2 {
      min-height: 250px;
    }

    .info_quote {
      font-size: var(--size-3b);
      line-height: 130%;
      letter-spacing: -0.5px;
    }

    .card_quote {
      width: 290px;
      gap: var(--size-1);
      font-size: var(--size-2);
    }

    .features_grid_7 {
      grid-template-columns: 1fr;
    }

    .hero_buttons {
      grid-template-columns: 1fr;
      gap: var(--size-2);
    }

    .features_grid_4 {
      display: flex;
      flex-direction: column;
    }
  }
}
