/* :root {
  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;
  --space-xb: 80px;

  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;
  --size-b: 24px;
  --size-xb: 32px;

  --color-border: #dee2e6;
  --color-border-light: #d3dee9;
  --color-primary: #006be6;
  --color-white: #fff;
  --color-title: #212529;
  --color-text: #343a40;
  --color-text-2: #6c757d;
  --color-main: #767676;

  --border-radius: 12px;

  --weight-title: 600;
  --weight-text: 400;

  --font-family: Roboto;

  --page-widht: 1000px;
} */

:root {
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;

  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;

  --color-border: #dee2e6;
  --color-primary: #006be6;
  --color-white: #fff;
  --color-title: #212529;
  --color-text: #343a40;

  --border-radius: 12px;

  --weight-title: 500;
  --weight-text: 400;

  --page-width: 960px;

  /* можна писати будь-які свої значення наприклад --space-1, або --name-f і тому подібне... */
}
